[Unit]
Description=Raspberry Pi System Monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 monitor.py
WorkingDirectory=/home/pi/raspberry-pi-monitor/

[Install]
WantedBy=multi-user.target
